body{
	padding: 0;
	margin: 0;
	font-family: 'Arial';
}

.navigation{
	width: 100%;
	overflow: hidden;
	background-color: #3498db;
	padding: 20-x;

}
.container{
	width: 80%;
	overflow: hidden;
	margin: auto;
	/*background-color: yellow;*/
}
	.container .logo{
		/*pseudo-element*/
		/*background-color: red;*/
		float: left;
		width: 200px;
		overflow: hidden;
		padding: 10px;
	}
		.container .logo a{
			font-size: 24px;
			text-decoration: none;
			color: white;
		}
	.container .menu{
		/*background-color: green;*/
		float: right;
		width: 700px;
		padding: 10px;
		margin-top: 5px;
	}
		.container .menu ul{
			margin: 0;
		}
			.container .menu ul li{
				float: left;
				padding-right: 25px;
				display: block;
			}
				.container .menu ul li a{
					color: white;
					text-decoration: none;
				}